* { 
	padding: 0;
	margin: 0;
}
html {
  box-sizing: border-box;
  background-color: #434d55;

}
*, *:before, *:after {
  box-sizing: inherit;
}

#container {
	max-width: 800px;
	margin: auto;
	font-family: 'Lato', Arial, sans-serif;
}

.wrapper {
	width: 80%;
	margin: 50px;
	text-align: left;
}

h1{
	line-height: 1.3em;
	color: #FFF;
	margin-bottom: 25px;
	font-size: 2em;
}

/* Form Styling */


input {
	width: 75%;
	min-height: 60px;
	font-size: 1.65em;
	font-family: 'Lato', Arial, sans-serif;
    padding-left: 15px;
    background-color: #EEE;
    border: 1px solid #BBB;
    color: #c1c1c1;
    border: none;
}

button {
	width: 20%;
	height: 60px;
	font-size: 1.65em;
	background: #2e353b;
	border: none;
	color: #FFF;
}

button:hover {
	background-color: #FFF;
	cursor: pointer;
	color: #2e353b;

}

button:active {
	background-color: #2e353b;
	color: #FFF;
}

ul li {
	width: 75%;
	min-height: 50px;
	font-size: 1.65em;
	padding: 8px 15px;
	list-style-type: none;
	background-color: #ccc;
	color: #FFF;
	border-bottom: 1px solid #BBB;
	border-left: 1px solid #BBB;
	border-right: 1px solid #BBB;
}

input, button {
  outline: none; 
}
